.carousel {
    overflow: hidden;
    width: 95%; 
    margin: auto;
    border-radius: 20px;
    padding-top: 5px;
    box-shadow : #001601 0px 5px 15px;
    
  }
  .carousel-track {
    display: flex;
    animation: scroll 10s linear infinite;
    width: calc(300px * 4); 
  }
  
  .carousel-slide {
    flex: 0 0 300px;
  }
  
  .carousel-slide img {
    width: 100%;
    height: auto;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%)
    }
  }
body{
    background-color: #efeecc;
}
